<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">One-to-one English Courses
                <small>Skype</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">One-to-one English Courses</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Project One -->
    <div class="row">
        <div class="col-md-7">
            <%= link_to page_path('portfolio-item') do %>
              <img class="img-responsive img-hover" id="examenglish" alt="something">
            <% end %>
        </div>
        <div class="col-md-5">
            <h3>English Pronounciation Course</h3>
            <h4>Via Skype</h4>
            <p>TutorsOnlinePro specializes in <strong>personalized</strong>  spoken English <strong>“Conversation” </strong> classes, in which  teachers will engage you in discussion of topics of your choice, ranging from <strong>politics and economics, science, music, history, culture, sports, music, movies </strong>and anything else you might be interested in.
            Our conversation classes include reading contemporary articles via Skype, with particular attention to pronunciation, new vocabulary, grammar structures and common expressions of the English language.</p>
            <%= link_to 'Book now', page_path('portfolio-item'), class: 'btn btn-primary' %>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <div class="col-md-7">
            <%= link_to page_path('portfolio-item') do %>
              <img class="img-responsive img-hover" src="http://placehold.it/700x300" alt="">
            <% end %>
        </div>
        <div class="col-md-5">
            <h3>Business English Course</h3>
            <h4>Via Skype</h4>
            <p>TutorsOnlinePro offers an<strong> Online Business English Course,</strong> taught by professional English speakers. 
            Learn about :Negotiations, Presentations, <strong>Job Interviews,</strong> Meetings, Banking, Investments, and Savings, Pricing, Advertising, Branding,<strong> Sales, Career Development.</strong>
            Let us help you learn Business English through our professional <strong>One-to-One Skype</strong> classes..</p>
            <%= link_to 'Book now', page_path('portfolio-item'), class: 'btn btn-primary' %>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
        <div class="col-md-7">
            <%= link_to page_path('portfolio-item') do %>
              <img class="img-responsive img-hover" src="http://placehold.it/700x300" alt="">
            <% end %>
        </div>
        <div class="col-md-5">
            <h3>Exam Preparation English Course</h3>
            <h4>Via Skype</h4>
            <p>utorsOnlinePro offers <strong> One-to-One English Exam Preparation Classes </strong> consisting of customized examination preparations for local and international qualification tests such as the IELTS, TOEFL, TOEIC.
            The difference between ordinary and extraordinary is that little <strong>“extra.”</strong>
            </p>
            <%= link_to 'Book now', page_path('portfolio-item'), class: 'btn btn-primary' %>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
