<%# add navigation links to this file %>
            
        
<li><%= link_to 'Courses', page_path('portfolio-1-col') %></li>

<li> <%= link_to 'Prices', page_path('pricing') %> s</li>
                
 <li><%= link_to 'Contact', page_path('contact') %></li>       
       
<li><%= link_to 'Blog', page_path('blog-home-2') %></li>
                


              

        
         <!-- Where should I link the 404 page?
             
                <li>
                    <%= link_to '404', page_path('404') %>
                </li>
                
            </ul>
        </li>
-->