<!DOCTYPE html>
<html>
  <head>
    <title>Online English Lessons starting at $14.99</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "My Application" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "My Application" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <%= body_tag do %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
        
    <div id="popover-parent">
      <button id="popover-show">Show Popover</button>
      <div id='popover-backdrop'></div>
      <div id='popover-view-wrapper'>
        <div id='popover-view'>
          <div class='popover-view-controls'>
            <a href='#' id='popover-exit'>
              <i class="fa fa-times fa-2x"></i>
            </a>
          </div>
          <div id='popover-view-contents'>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</html>
